// COLORS
$color-primary: #97c227;

$color-gray1: #d8d8d8;
$color-gray2: #eee;
$color-gray3: #6e6a69;
$color-gray4: #aba7a5;
$color-gray5: #bebbbb;

$color-black: #333;
$color-black2: #000;

$color-white: #fff;
